<section class="d-flex footer-section justify-content-center">
    <span class="apply-font-micro text-muted">Development: <a class="text-simple text-muted"
            href="mailto:uppm@politeknikpu.ac.id">UPPM Politeknik PU Semarang</a></span>
</section>