<!-- Image and text -->
<nav class="navbar navbar-light dark-navbar custom-font-navbar shadow-sm d-flex">
  <div class="container-fluid justify-content-between">
    <div class="d-flex align-items-center left-div">
      <div>
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='img/UPPMOnline.png') }}" alt="" width="100" height="25">
        </a>
      </div>
      <span class="nav-item">
        <a class="text-simple light-text" href="{{ url_for('index') }}">Tentang UPPM</a>
      </span>
      {% if current_user.is_authenticated %}
      <span class="nav-item dropdown">
        <a class="text-simple light-text dropdown-toggle apply-font-sm nav-item" href="#" id="dropdownMenuLinkDl"
          data-bs-toggle="dropdown" aria-expanded="false">Download</a>
        <ul class="dropdown-menu apply-font-sm" aria-labelledby="dropdownMenuLinkDl">
          <li><a class="dropdown-item" href="{{ url_for('get_file', filename='panduan_penelitian.pdf')}}">Panduan
              Penelitian</a></li>
          <li><a class="dropdown-item" href="{{ url_for('get_file', filename='agenda_uppm.pdf')}}">Agenda UPPM</a></li>
          <li><a class="dropdown-item" href="{{ url_for('get_file', filename='template.docx')}}">Templates</a></li>
          <li><a class="dropdown-item" href="{{ url_for('get_file', filename='manual.pdf')}}">User Guide UPPMOnline</a>
          </li>
        </ul>
      </span>
      {% else %}
      {% endif %}
      <span class="nav-item">
        <a class="text-simple light-text" href="{{ url_for('pengumuman') }}">Pengumuman</a>
      </span>
    </div>
    <div class="d-flex align-items-center right-div">
      {% if current_user.is_anonymous %}
      <span class="nav-item">
        <a class="text-simple light-text" href="{{ url_for('login') }}">Login</a>
      </span>
      {% elif current_user.is_authenticated %}
      <div class="dropdown">
        <div class="dropdown-toggle apply-font-sm clean-li light-text nav-item" href="#" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{ current_user.username }}
        </div>
        <ul class="dropdown-menu apply-font-sm" aria-labelledby="dropdownMenuLink">
          {% if current_user.is_authenticated and current_user.togglepenilai == 'Ya' %}
          <li><a class="dropdown-item" href="{{ url_for('pendashboard') }}">Dashboard Penilai</a></li>
          {% elif current_user.is_authenticated and current_user.admin == 'Ya' %}
          <li><a class="dropdown-item" href="{{ url_for('admdashboard') }}">Dashboard Admin</a></li>
          {% else %}
          <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">Dashboard</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </div>
      <!-- <span class="nav-item">
          <a class="text-simple light-text" href="{{ url_for('logout') }}">Logout</a>
        </span> -->
      {% endif %}
    </div>
  </div>
</nav>