<nav class="sidenav">
    <section class="sidenav-header">
        {% if current_user.is_authenticated %}
        <div class="d-flex sidenav-profile-container">
            <img src="{{ current_user.avatar(48) }}" class="sidenav-avatar" />
            <div class="d-flex flex-column">
                {% set fname = current_user.name.split(' ') %}
                <span class="apply-font-sm light-text text-wrap">{{ fname[0] }} {{ fname[1] }}</span>
                <span class="apply-font-tiny light-text">{{ current_user.role }}</span>
            </div>
        </div>
        {% endif %}
    </section>
    <section class="sidenav-body flex-column apply-font-sm">
        <section class="sidenav-menu-group">
            <div class="accordion accordion-flush apply-font-sm" id="accordionFlushExample">
                <div class="accordion-item apply-font-sm">
                  <span class="accordion-header apply-font-sm" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      ACCORDION #1
                    </button>
                </span>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
                <div class="accordion-item apply-font-sm">
                    <span class="accordion-header apply-font-sm" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        ACCORDION #2
                      </button>
                    </span>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                    </div>
                  </div>
            </div>
            <div class="nav-item-group nav-item-side">
                AJUKAN USULAN
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('daftarlit') }}"><ion-icon class="medium-icon" name="document-text-outline"></ion-icon>Penelitian</a>
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('daftarpkm') }}"><ion-icon class="medium-icon" name="earth-outline"></ion-icon>Pengabdian Masy.</a>
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('daftarpubhki') }}"><ion-icon class="medium-icon" name="book-outline"></ion-icon>Pub. & HKI</a>
            </div>
        </section>
        <section class="sidenav-menu-group">
            <div class="nav-item-group nav-item-side">
                PROPOSAL MASUK
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('lstpenelitian') }}"><ion-icon class="medium-icon" name="file-tray-full-outline"></ion-icon>Penelitian</a>
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('lstpkm') }}"><ion-icon class="medium-icon" name="folder-open-outline"></ion-icon>Pengabdian</a>
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('lstpublikasihki') }}"><ion-icon class="medium-icon" name="library-outline"></ion-icon>Pub. & HKI</a>
            </div>
        </section>
        {% if current_user.admin == 'Ya' %}
        <section class="sidenav-menu-group">
            <div class="nav-item-group nav-item-side">
                ADMIN MENU
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('admlstusers') }}"><ion-icon class="medium-icon" name="people-outline"></ion-icon>Manage Users</a>
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('admlstpengumuman') }}"><ion-icon class="medium-icon" name="megaphone-outline"></ion-icon>Pengumuman</a>
            </div>
        </section>
        {% endif %}
        {% if current_user.togglepenilai == 'Ya' %}
        <section class="sidenav-menu-group">
            <div class="nav-item-group nav-item-side">
                PENILAI MENU
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('penilaianlitdasar') }}"><ion-icon class="medium-icon" name="chevron-forward-circle-outline"></ion-icon>Pen. Lit. Dasar</a>
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('penilaianlitterap') }}"><ion-icon class="medium-icon" name="chevron-forward-circle-outline"></ion-icon>Pen. Lit. Terap</a>
            </div>
            <div class="nav-item-side d-flex">
                <a class="text-simple dark-text d-flex" href="{{ url_for('penilaianpkm') }}"><ion-icon class="medium-icon" name="chevron-forward-circle-outline"></ion-icon>Penilaian PkM</a>
            </div>
            <div class="nav-item-side d-flex">
                <!-- <a class="text-simple dark-text d-flex" href="#"><ion-icon class="medium-icon" name="information-circle-outline"></ion-icon>Status Penilaian</a> -->
            </div>
        </section>
        {% endif %}
    </section>
    <section class="sidenav-footer">

    </section>
</nav>