<section class="deskripsi-data d-flex flex-row">
  <div>Daftar file dalam database UPPM Online.</div>
  <a href="{{ url_for('admupload') }}" class="btn btn-secondary btn-sm btn-margin-sm">Upload File</a>
</section>
<section class="isi-data">
  {% if filename %}
  <!-- <input class="form-control text-input-fluid search-bar apply-text-sm" id="searchFilter" type="text"
    placeholder="Search in this page.."> -->
  <table id="listfiles" class="table table-hover" data-toggle="tablelit" data-filter-control="true"
    data-show-search-clear-button="true">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Filename</th>
        <th scope="col">Belongs to</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="filteredTable">
      {% for namafile in filename %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ namafile }}</td>
        <td>
          {% for prop in proplit %}
          {% if prop.filename == namafile %}
          {{ prop.judul }}
          {% endif %}
          {% endfor %}
          {% for prop in proppkm %}
          {% if prop.filename == namafile %}
          {{ prop.judul }}
          {% endif %}
          {% endfor %}
          {% for prop in pubhki %}
          {% if prop.filename == namafile %}
          {{ prop.judul }}
          {% endif %}
          {% endfor %}
        </td>
        <td class="d-flex flex-column">
          <a href="{{ url_for('get_file', filename=namafile)}}"
            class="btn btn-success btn-sm btn-margin-sm">Download</a>
          {% if current_user.is_authenticated and current_user.admin == 'Ya' %}
          <a class="btn btn-danger btn-sm btn-margin-sm" data-bs-toggle="modal"
            href="{{ url_for('admdeletefile', filename=namafile)}}">Delete</a>
          {% endif %}
        </td>
      </tr>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal{{namafile}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Yakin ingin menghapus file <b>{{ namafile }}</b> ?
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</a>
              <a href="{{ url_for('admdeletefile', filename=namafile)}}" type="button"
                class="btn btn-danger btn-sm">Hapus</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Belum ada file di storage UPPM.</p>
  {% endif %}
</section>
<script>
  $(document).ready(function () {
    $('#listfiles').DataTable();
  });
</script>