<section class="deskripsi-data d-flex flex-row">
  <div>Daftar pengumuman dalam database UPPM Online.</div>
  <a href="{{ url_for('admaddpengumuman') }}" class="btn btn-secondary btn-sm btn-margin-sm">Buat Pengumuman</a>
</section>
<section class="isi-data">
  {% if pengumuman %}
  <input class="form-control text-input-fluid search-bar apply-text-sm" id="searchFilter" type="text"
    placeholder="Search in this page..">
  <table id="tablelit" class="table table-hover" data-toggle="tablelit" data-filter-control="true"
    data-show-search-clear-button="true">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Judul</th>
        <th scope="col">Isi</th>
        <th scope="col">Aktif</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="filteredTable">
      {% for item in pengumuman %}
      <tr>
        <th scope="row">{{ item.idpengumuman }}</th>
        <td>{{ item.judul }}</td>
        <td>{{ item.isi }}</td>
        <td>{{ item.isactive }}</td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.updated_at }}</td>
        <td class="d-flex flex-column">
          <a href="{{ url_for('admeditpengumuman', id=item.idpengumuman) }}"
            class="btn btn-secondary btn-sm btn-margin-sm">Edit</a>
          <a href="{{ url_for('admdeletepengumuman', id=item.idpengumuman) }}"
            class="btn btn-danger btn-sm btn-margin-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Belum ada data pengumuman di database.</p>
  {% endif %}
</section>