<section class="deskripsi-data d-flex flex-row justify-content-between">
    <div>Data user dalam database UPPM Online.</div>
    <a class="btn btn-secondary btn-sm btn-margin-sm" href="{{ url_for('admadduser') }}">Add Users</a>
</section>
<section class="isi-data">
    {% if user %}
    <table id="tablelit" class="table table-hover" data-toggle="tablelit" data-filter-control="true" data-show-search-clear-button="true">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Penilai aktif</th>
            <th scope="col">Admin</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in user %}
          <tr>
            <th scope="row">{{ item.idusers }}</th>
            <td>{{ item.username }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.togglepenilai }}</td>
            <td>{{ item.admin }}</td>
            <td>{{ item.created_at }}</td>
            <td>{{ item.updated_at }}</td>
            <td class="d-flex flex-column">
              <a href="{{ url_for('admedituser', id=item.idusers) }}" class="btn btn-secondary btn-sm btn-margin-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm btn-margin-sm">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Belum ada usulan/proposal penelitian/PkM di database.</p>
    {% endif %}
</section>
