<div class="charts d-flex flex-row text-wrap allfonts">
    <div class="dashboard-charts" id="chart1" style="width:200%; height:400px;">

    </div>
    <div class="dashboard-charts" id="chart2" style="width:200%; height:400px;">

    </div>
    <div class="dashboard-charts" id="chart3" style="width:200%; height:400px;">

    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('chart1', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Jumlah proposal'
            },
            xAxis: {
                categories: ['2019', '2020', '2021', '2022', '2023', '2024', '2025']
            },
            yAxis: {
                title: {
                    text: 'Jumlah'
                }
            },
            series: [{
                name: 'Penelitian Dasar',
                data: [1, 0, 4, 5]
            }, {
                name: 'Penelitian Terapan',
                data: [0, 2, 1]
            }, {
                name: 'Penelitian Pengembangan',
                data: [1, 2, 3]
            }, {
                name: 'PkM',
                data: [5, 7, 3]
            }, {
                name: 'Pembiayaan publikasi & HKI',
                data: [0, 0, 3]
            }]
        });
    });
</script>