<section class="deskripsi-data">
    {% if penelitian %}
      <div>Judul proposal Penelitian dan Pengabdian Kepada Masyarakat yang masuk ke UPPM dan status terkini:</div>
    {% endif %}
</section>
<section class="isi-data">
    {% if penelitian %}
    {% for item in penelitian %}
    <div class="card single-prop-card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <div class="prop-card-details text-wrap">
                    <h6 class="card-title text-wrap">Judul: {{ item.judul }}</h6>
                    <span class="card-text"><b>Tema:</b> {{ item.tema }}</span><br>
                    <span class="card-text"><b>Pengusul:</b> {{ item.ketua.name }}</span><br>
                    <span class="card-text"><b>Kategori:</b> {{ item.kategori }}</span><br>
                    <span class="card-text"><b>Biaya:</b> {{ item.biaya }}</span><br>
                    <span class="card-text"><b>Tahun:</b> {{ item.tahun }}</span><br>
                </div>
                <div class="d-flex flex-column qrcode-container">
                    <img class="qrcode-img" src="{{ qrcode(item.qrcodestring) }}"/>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-around card-footer">
                {% if item.filename %}
                <a href="{{ url_for('get_file', filename=item.filename) }}" class="btn btn-secondary btn-sm btn-margin-sm">Download</a>
                {% endif %}
                {% if current_user.idusers == item.fk_ketua_id %}
                <a href="{{ url_for('updatelit', id=item.idproposallit) }}" class="btn btn-primary btn-sm btn-margin-sm">Update</a>
                <a href="{{ url_for('tandaterima', id=item.idproposallit) }}" class="btn btn-success btn-sm btn-margin-sm">Receipt</a>
                <button type="button" class="btn btn-danger btn-sm btn-margin-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{item.idproposallit}}">Delete</button>
                {% endif %}
            </div>
        </div>
      </div>
    {% endfor %}
    {% else %}
    <p>Belum ada usulan/proposal penelitian di database.</p>
    {% endif %}
</section>
  