<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Catatan Penilaian Proposal
        {% endif %}
    </title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>
<body>
    <div class="col-12 apply-font-sm d-flex justify-content-center align-items-center topmargin-50">
        <div class="card">
            <div class="card-header justify-content-center">
                <h5>Catatan Penilai terhadap usulan/proposal penelitian/PkM</h5>
            </div>
            <div class="card-body">
                {% if proposal %}
                <div class="tanda-terima-body d-flex flex-row">
                    <div class="tanda-terima-details">
                        <span><b>ID:</b> order-{{ proposal.filename }}</span><br>
                        <span class="wrap-text"><b>Judul proposal:</b> {{ proposal.judul }}</span><br>
                        <span><b>Pengusul:</b> {{ current_user.name }}</span><br>
                        <span><b>Tanggal upload:</b> {{ proposal.created_at }}</span><br>
                    </div>
                    <div>
                        <img src="{{ qrcode(proposal.qrcodestring, box_size=2) }}"/>
                    </div>
                </div>
                <br>
                <div>
                    {% if catatan %}
                    <p><b>Catatan Penilaian:</b></p>
                    <p>{{ catatan }}</p>
                    {% endif %}
                </div>
                <div>
                    <p><b>Status:</b></p>
                    <p>{{ proposal.status }}</p>
                </div>
                {% endif %}
                <br>
                <div>
                    {% if tanggal %}
                    <p>Semarang, {{ tanggal }}</p>
                    {% endif %}
                    <p>Tim Penilai Proposal</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>