<section class="deskripsi-data">
  {% if penelitian %}
  <div>Data terkini proposal penelitian dalam database UPPM Online.</div>
  {% endif %}
</section>
<section class="isi-data">
  {% if penelitian %}
  <!-- <input class="form-control text-input-fluid search-bar apply-text-sm" id="searchFilter" type="text"
    placeholder="Search in this page.."> -->
  <table id="tablelit" class="display" style="width:100%">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" data-filter-control="input">Judul proposal</th>
        <th scope="col">Biaya</th>
        <th scope="col" data-filter-control="select">Tahun</th>
        <th scope="col">Tema Utama</th>
        <th scope="col">Kategori</th>
        <!-- <th scope="col" data-filter-control="select">Kode Rumpun</th>
            <th scope="col">Nama Rumpun</th> -->
        <th scope="col" data-filter-control="select">Pengusul</th>
        <th scope="col" data-filter-control="select">Status</th>
        <th scope="col">QRCode</th>
      </tr>
    </thead>
    <tbody id="filteredTable">
      {% for item in penelitian %}
      <tr>
        <!-- <th scope="row">
          {{ item.idproposallit }}
        </th> -->
        <th scope="row">
          {{ loop.index }}
        </th>
        <td>{{ item.judul }}</td>
        <td>{{ item.biaya }}</td>
        <td>{{ item.tahun }}</td>
        <td>{{ item.tema }}</td>
        <td>{{ item.kategori }}</td>
        <!-- <td>{{ item.koderumpun }}</td>
            <td>{{ item.namarumpun }}</td> -->
        <td>{{ item.ketua.name }}</td>
        <td>{{ item.status }}</td>
        <td class="d-flex flex-column qrcode-container">
          <img class="qrcode-img" src="{{ qrcode(item.qrcodestring) }}" />
          {% if item.filename %}
          <a href="{{ url_for('get_file', filename=item.filename) }}"
            class="btn btn-secondary btn-sm btn-margin-sm">Download</a>
          {% endif %}
          {% if current_user.idusers == item.fk_ketua_id %}
          <a href="{{ url_for('updatelit', id=item.idproposallit) }}"
            class="btn btn-primary btn-sm btn-margin-sm">Update</a>
          <a href="{{ url_for('tandaterima', id=item.idproposallit) }}"
            class="btn btn-success btn-sm btn-margin-sm">Receipt</a>
          <button type="button" class="btn btn-danger btn-sm btn-margin-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{item.idproposallit}}">Delete</button>
          {% endif %}
        </td>
      </tr>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal{{item.idproposallit}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Yakin ingin menghapus proposal <b>{{ item.judul }}</b> ?
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</a>
              <a href="{{ url_for('deletelit', id=item.idproposallit) }}" type="button"
                class="btn btn-danger btn-sm">Hapus</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Belum ada usulan/proposal penelitian/PkM di database.</p>
  {% endif %}
  <div class="pagination-navigation d-flex">
    {% if prev_url %}
    <a href="{{ prev_url }}">Prev-</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">-Next</a>
    {% endif %}
  </div>
</section>
<script>
  $(document).ready(function () {
    $('#tablelit').DataTable();
  });
</script>