<section class="deskripsi-data">
  {% if penelitian %}
  <div>Judul proposal Penelitian dan Pengabdian Kepada Masyarakat yang masuk ke UPPM dan status terkini:</div>
  {% endif %}
</section>
<section class="isi-data">
  {% if penelitian %}
  <table id="listsimplelit" class="display" style="width:100%">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" data-filter-control="input">Judul proposal</th>
        <th scope="col">Tema Utama</th>
        <th scope="col">Biaya</th>
        <th scope="col" data-filter-control="select">Pengusul</th>
        <th scope="col" data-filter-control="select">Nilai</th>
        <th scope="col" data-filter-control="select">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in penelitian %}
      <tr>
        <!-- <th scope="row">{{ item.idproposallit }}</th> -->
        <th scope="row">
          {{ loop.index }}
        </th>
        <td>{{ item.judul }}</td>
        <td>{{ item.tema }}</td>
        <td>{{ item.biaya }}</td>
        <td>{{ item.ketua.name }}</td>
        <td>
          {% if nilai %}
          {% for n in nilai %}
          {% if n.fk_proposal_id == item.idproposallit %}
          {{ n.nilaitotal }}
          {% endif %}
          {% endfor %}
          {% endif %}
        </td>
        <td class="d-flex flex-column align-items-center">
          {% if item.status != None %}
          {{ item.status }}
          {% else %}
          <p>Belum dinilai</p>
          {% endif %}
          {% if current_user.idusers == item.fk_ketua_id %}
          {% if item.status != 'Belum dinilai' %}
          <a class="btn btn-success btn-sm btn-margin-sm"
            href="{{ url_for('catatanpenilaianlit', id=item.idproposallit) }}">Catatan</a>
          {% else %}
          {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Belum ada usulan/proposal penelitian di database.</p>
  {% endif %}
</section>
<script>
  $(document).ready(function () {
    $('#listsimplelit').DataTable();
  });
</script>