<section class="deskripsi-data">
  {% if pkm %}
  <div>Data terkini proposal PkM dalam database UPPM Online.</div>
  {% endif %}
</section>
<section class="isi-data">
  {% if pkm %}
  <table id="listsimplepkm" class="display" style="width:100%">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" data-filter-control="input">Judul proposal</th>
        <th scope="col">Biaya</th>
        <th scope="col" data-filter-control="select">Pengusul</th>
        <th scope="col" data-filter-control="select">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in pkm %}
      <tr>
        <!-- <th scope="row">{{ item.idproposalpkm }}</th> -->
        <th scope="row">{{ loop.index }}</th>
        <td>{{ item.judul }}</td>
        <td>{{ item.biaya }}</td>
        <td>{{ item.ketua.name }}</td>
        <td class="d-flex flex-column align-items-center">
          {% if item.status != None %}
          {{ item.status }}
          {% else %}
          <p>Belum dinilai</p>
          {% endif %}
          {% if current_user.idusers == item.fk_ketua_id %}
          {% if item.status == 'Sudah dinilai' or item.status == 'Perlu revisi' or item.status == 'Ditolak' %}
          <a class="btn btn-success btn-sm btn-margin-sm"
            href="{{ url_for('catatanpenilaianpkm', id=item.idproposalpkm) }}">Catatan</a>
          {% else %}
          {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Belum ada usulan/proposal penelitian/PkM di database.</p>
  {% endif %}
</section>
<script>
  $(document).ready(function () {
    $('#listsimplepkm').DataTable();
  });
</script>