<section class="deskripsi-data">
    {% if pubhki %}
        <div>Data terkini pengajuan pembiayaan publikasi dan HKI dalam database UPPM Online.</div>
    {% endif %}
</section>
<section class="isi-data">
    {% if pubhki %}
    <input class="form-control text-input-fluid search-bar apply-text-sm" id="searchFilter" type="text" placeholder="Search in this page..">
    <table id="tablelit" class="table table-hover" data-toggle="tablelit" data-filter-control="true" data-show-search-clear-button="true">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" data-filter-control="input">Judul proposal</th>
            <th scope="col">Biaya</th>
            <th scope="col" data-filter-control="select">Keterangan</th>
            <th scope="col" data-filter-control="select">Pengusul</th>
            <th scope="col" data-filter-control="select">Status</th>
            <th scope="col">QRCode</th>
          </tr>
        </thead>
        <tbody id="filteredTable">
          {% for item in pubhki %}
          <tr>
            <th scope="row">{{ item.idpublikasihki }}</th>
            <td>{{ item.judul }}</td>
            <td>{{ item.biaya }}</td>
            <td>{{ item.keterangan }}</td>
            <td>{{ item.pengusul.name }}</td>
            <td>{{ item.status }}</td>
            <td class="d-flex flex-column qrcode-container">
              <img class="qrcode-img" src="{{ qrcode(item.qrcodestring) }}"/>
              {% if item.filename %}
              <a href="{{ url_for('get_file', filename=item.filename) }}" class="btn btn-secondary btn-sm btn-margin-sm">Download</a>
              {% endif %}
              {% if current_user.idusers == item.fk_pengusul_id %}
              <a href="{{ url_for('updatepubhki', id=item.idpublikasihki) }}" class="btn btn-secondary btn-sm btn-margin-sm">Update</a>
              <a href="{{ url_for('tandaterimapubhki', id=item.idpublikasihki) }}" class="btn btn-success btn-sm btn-margin-sm">Receipt</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Belum ada usulan/proposal penelitian/PkM di database.</p>
    {% endif %}
    <div class="pagination-navigation d-flex">
      {% if prev_url %}
      <a href="{{ prev_url }}">Prev-</a>
      {% endif %}
      {% if next_url %}
      <a href="{{ next_url }}">-Next</a>
      {% endif %}
    </div>
</section>
