<div class="card login-form-narrow" style="border-radius: 10px;">
    <div class="card-body apply-font-sm">
        <h5>Sign In</h5>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(class_="text-input-fluid") }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class_="text-input-fluid") }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class_="btn btn-secondary btn-sm") }}</p>
        </form>
        <br>
        <p class="apply-font-sm">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="apply-font-sm">
            {% for message in messages %}
            <li class="clean-li text-muted">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>