<div class="container d-flex flex-row topmargin-50">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div class="card register-form-wide" style="border-radius: 10px;">
            <div class="card-body apply-font-sm">
                <h5>Register</h5>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(class_="text-input-fluid") }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(class_="text-input-fluid") }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.nama.label }}<br>
                        {{ form.nama(class_="text-input-fluid") }}<br>
                        {% for error in form.nama.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.posisi.label }}<br>
                        {{ form.posisi() }}<br>
                        {% for error in form.posisi.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(class_="text-input-fluid") }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password2.label }}<br>
                        {{ form.password2(class_="text-input-fluid") }}<br>
                        {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class_="btn btn-secondary btn-sm") }}</p>
                </form>
            </div>
        </div>
    </div>
    <div class="col">

    </div>
</div>