{% extends "master/base.html" %}
{% block content %}
<section class="d-flex">
    <div class="col-2">
        {% include "master/sidenav.html" %}
    </div>
    <div class="container">
        <div class="col-8 main-content">
            <div class="content-header d-flex">
                {% if title %}
                    <h4>{{ title }}</h4>
                {% endif %}
            </div>
            <div class="content-body topmargin-10 apply-font-sm">
                <div class="card-body apply-font-sm">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form action="/dashboard/daftarlit" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.judul.label }}<br>
                            {{ form.judul(class_="text-input-fluid") }}<br>
                            {% for error in form.judul.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <div class="d-flex flex-row justify-content-between">
                            <p>
                                {{ form.biaya.label }}<br>
                                {{ form.biaya(class_="text-input-fluid") }}<br>
                                {% for error in form.biaya.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.tahun.label }}<br>
                                {{ form.tahun(class_="text-input-fluid") }}<br>
                                {% for error in form.tahun.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>
                        <p>
                            {{ form.anggota.label }}<br>
                            {{ form.anggota(class_="text-input-fluid") }}<br>
                            {% for error in form.anggota.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.kategori.label }}<br>
                            {{ form.kategori() }}<br>
                            {% for error in form.kategori.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <div class="d-flex flex-row justify-content-between">
                            <p>
                                {{ form.tema.label }}<br>
                                {{ form.tema() }}<br>
                                {% for error in form.tema.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>
                        <p>
                            {{ form.urifile.label }}<br>
                            {{ form.urifile() }}<br>
                            {% for error in form.urifile.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit(class_="btn btn-secondary btn-sm") }}</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
        
        </div>
    </div>
</section>
{% endblock %}