{% extends "master/base.html" %}
{% block content %}
<section class="d-flex">
    <div class="col-2">
        {% include "master/sidenav.html" %}
    </div>
    <div class="container">
        <div class="col-10 main-content">
            <div class="content-header d-flex">
                {% if title %}
                <h4>{{ title }}</h4>
                {% endif %}
            </div>
            <div class="content-body topmargin-10 apply-font-sm">
                {% if pengumuman %}
                {% for item in pengumuman %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="z-index: 0;">
                    <a href="{{ url_for('pengumuman') }}">{{ item.judul }}</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}

                {% endif %}
                {% include "sub/__listpenelitiansimple.html" %}
                {% include "sub/__listpkmsimple.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}