{% extends "master/base.html" %}
{% block content %}
<div class="d-flex flex-row apply-font-sm align-items-center">
    <div class="col-8 d-flex flex-row align-items-center main-content">
        <div class="row">
            <div class="d-flex flex-row">
                <img src="https://img.freepik.com/free-vector/engineers-team-discussing-issues-construction-site_74855-4786.jpg?size=626&ext=jpg"
                    width="600px" height="417px" />
            </div>
        </div>
        <div class="apply-font-sm">
            <h3>Berkarya untuk Maju!</h3>
            <br>
            <p class="d-flex align-items-center">
                <ion-icon class="medium-icon" name="document-text-outline"></ion-icon><span>Pendaftaran proposal
                    Penelitian</span>
            </p>
            <p class="d-flex align-items-center">
                <ion-icon class="medium-icon" name="earth-outline"></ion-icon><span>Pendaftaran proposal Pengabdian
                    Kepada Masyarakat</span>
            </p>
            <p class="d-flex align-items-center">
                <ion-icon class="medium-icon" name="cash-outline"></ion-icon><span>Pendaftaran pembiayaan publikasi dan
                    HKI</span>
            </p>
            <br>
            <br>
            <p class="apply-font-small text-muted" style="font-style: italic;">* Ada kendala? Kontak <a
                    class="text-simple" href="mailto:fahmi_fafa[at]yahoo[dot]com"><b>Bantuan</b></a></p>
        </div>
    </div>
    <div class="col-4">
        {% include "sub/__logincomponent.html" %}
    </div>
</div>
{% endblock %}