{% extends "master/base.html" %}
{% block content %}
<div class="d-flex flex-row apply-font-sm align-items-center">
    <div class="col-9 d-flex flex-row align-items-center main-content">
        <div class="row">
            <div class="d-flex flex-row">
                <img src="{{ url_for('static', filename='img/engineers-team-discussing-freepik-com.jpg')}}"
                    width="600px" height="417px" />
            </div>
        </div>
        <div class="apply-font-sm">
            <h3>Berkarya untuk Maju!</h3>
            <br>
            <p class="d-flex align-items-center">
                <ion-icon class="medium-icon" name="document-text-outline"></ion-icon><span>Pendaftaran proposal
                    Penelitian</span>
            </p>
            <p class="d-flex align-items-center">
                <ion-icon class="medium-icon" name="earth-outline"></ion-icon><span>Pendaftaran proposal Pengabdian
                    Kepada Masyarakat</span>
            </p>
            <p class="d-flex align-items-center">
                <ion-icon class="medium-icon" name="cash-outline"></ion-icon><span>Pendaftaran pembiayaan publikasi dan
                    HKI</span>
            </p>
            <br>
            <br>
            <p class="apply-font-small text-muted" style="font-style: italic;">* Ada kendala? Kontak <a
                    class="text-simple" href="mailto:uppm@politeknikpu.ac.id"><b>Bantuan</b></a></p>
        </div>
    </div>
    <div class="col-3">
        {% include "sub/__logincomponent.html" %}
    </div>
</div>
{% endblock %}