{% extends "master/base.html" %}
{% block content %}
<div class="d-flex flex-row apply-font-sm align-items-center">
    <div class="col-12 d-flex flex-column align-items-center bg-jumbotron">
        <div class="p-5 rounded-lg m-3 bg-jumbotron-box">
            <h1 class="display-4"><b>Selamat Datang!</b></h1>
            <p class="lead"><b>Unit Penelitian dan Pengabdian kepada Masyarakat (UPPM) Politeknik PU Semarang</b></p>
            <hr class="my-4">
            <p>UPPM Politeknik Pekerjaan Umum Semarang siap membantu civitas akademik Politeknik PU mewujudkan kampus vokasi unggulan sektor konstruksi.</p>
            <a class="btn btn-success btn-lg" href="{{url_for('login')}}" role="button">Pelajari</a>
        </div>
    </div>
    <div class="main-content ">
        <div class="col-2">
        </div>
        <div class="col-8 d-flex flex-column">

        </div>
        <div class="col-2">
        </div>
    </div>
    
</div>
{% endblock %}