{% extends "master/base.html" %}
{% block content %}
<div class="d-flex flex-row apply-font-sm align-items-center">
    <div class="col-2">
    </div>
    <div class="col-8 d-flex flex-column main-content">
        <div class="content-header d-flex">
            {% if title %}
            <h4>{{ title }}</h4>
            {% endif %}
        </div>
        <div class="content-body topmargin-10 apply-font-sm">
            {% if pengumuman %}
            <input class="form-control text-input-fluid search-bar apply-text-sm" id="searchFilter2" type="text"
                placeholder="Search in this page..">
            {% for item in pengumuman %}
            <div id="filteredCards">
                <div class="card pengumuman">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <h6 class="card-title mb-2 text-muted" style="flex:5">{{ item.judul }}</h6>
                            <span class="text-muted apply-font-tiny" style="flex: 1;">Published: {{
                                item.created_at.strftime('%Y-%m-%d %H:%M') }}</span>
                        </div>
                        <hr>
                        <p class="card-text">{{ item.isi }}</p>
                    </div>
                    {% set image = 'img/' + item.filename %}
                    <img src="{{ url_for('static', filename=image) }}" style="width: 100%; height: auto;" />
                    <!-- <div class="card-footer">
                        <a href="{{ url_for('get_file', filename=item.filename)}}" type="button"
                            class="btn btn-sm btn-success">Detail</a>
                    </div> -->
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-2">
    </div>
    <div class="pagination-navigation d-flex">
        {% if prev_url %}
        <a href="{{ prev_url }}">Prev-</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">-Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}