{% extends "master/base.html" %}
{% block content %}
<div class="d-flex flex-row apply-font-sm align-items-center">
    <div class="col-2 d-flex">
    </div>
    <div class="col-8 d-flex content-body topmargin-10">
        {% include "sub/__registercomponent.html" %}
    </div>
    <div class="col-2 d-flex">
    </div>
</div>
{% endblock %}
