{% extends "master/base.html" %}
{% block content %}
<!-- Highcharts  -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="/js/themes/gray.js"></script>
<!-- endHighcharts -->
<section class="d-flex">
    <div class="col-2">
        {% include "master/sidenav.html" %}
    </div>
    <div class="container">
        <div class="col-10 main-content">
            <div class="content-header d-flex">
                {% if title %}
                    <h4>{{ title }}</h4>
                {% endif %}
            </div>
            <div class="content-body topmargin-10 apply-font-sm">
                {% include "admin/adminsub/__admcharts.html" %}
                <div style="margin-top: 20px; margin-bottom: 20px;">
                    {% include "sub/__listpenelitiansimple.html" %}
                    {% if penelitian %}
                    <a href="{{ url_for('get_excel_lit') }}" class="btn btn-light">Export Tabel</a>
                    {% endif %}
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px;">
                    {% include "sub/__listpkmsimple.html" %}
                    {% if pkm %}
                    <a href="{{ url_for('get_excel_pkm') }}" class="btn btn-light">Export Tabel</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}