{% extends "master/base.html" %}
{% block content %}
<section class="d-flex">
    <div class="col-2">
        {% include "master/sidenav.html" %}
    </div>
    <div class="container">
        <div class="col-8 main-content">
            <div class="content-header d-flex">
                {% if title %}
                    <h4>{{ title }}</h4>
                {% endif %}
            </div>
            <div class="content-body topmargin-10 apply-font-sm">
                <div class="card-body apply-font-sm">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }}<br>
                            {{ form.username(class_="text-input-fluid") }}<br>
                            {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.email.label }}<br>
                            {{ form.email(class_="text-input-fluid") }}<br>
                            {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.name.label }}<br>
                            {{ form.name(class_="text-input-fluid") }}<br>
                            {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.role.label }}<br>
                            {{ form.role() }}<br>
                            {% for error in form.role.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.togglepenilai.label }}<br>
                            {{ form.togglepenilai() }}<br>
                            {% for error in form.togglepenilai.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.admin.label }}<br>
                            {{ form.admin() }}<br>
                            {% for error in form.admin.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit(class_="btn btn-secondary btn-sm") }}</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
        
        </div>
    </div>
</section>
{% endblock %}