{% extends "master/base.html" %}
{% block content %}
<section class="d-flex">
    <div class="col-2">
        {% include "master/sidenav.html" %}
    </div>
    <div class="container">
        <div class="col-8 main-content">
            <div class="content-header d-flex">
                {% if title %}
                <h4>{{ title }}</h4>
                {% endif %}
            </div>
            <div class="content-body topmargin-10 apply-font-sm">
                <div class="card-body apply-font-sm">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.namafile.label }}<br>
                            {{ form.namafile(class_="text-input-fluid") }}<br>
                            {% for error in form.namafile.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.urifile.label }}<br>
                            {{ form.urifile() }}<br>
                            {% for error in form.urifile.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit(class_="btn btn-secondary btn-sm") }}</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</section>
{% endblock %}