{% extends "master/base.html" %}
{% block content %}
<section class="d-flex">
    <div class="col-2">
        {% include "master/sidenav.html" %}
    </div>
    <div class="container">
        <div class="col-10 main-content">
            <div class="content-header d-flex">
                {% if title %}
                    <h4>{{ title }}</h4>
                {% endif %}
            </div>
            {% if proposal %}
            <div class="content-body topmargin-10 apply-font-sm">
                <div class="card-body apply-font-sm">
                    <div>
                        <span><b>Judul proposal: </b>{{proposal.judul}}</span><br>
                        <span><b>Biaya: </b></span>{{proposal.biaya}}<br>
                        <span><b>Pengusul: </b></span>{{proposal.ketua.name}}<br>
                    </div>
                </div>
                <div class="card-body apply-font-sm">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="d-flex flex-row justify-content-between">
                            <p>
                                {{ form.propstatus.label }}<br>
                                {{ form.propstatus() }}<br>
                                {% for error in form.propstatus.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>
                        <p>{{ form.submit(class_="btn btn-secondary btn-sm") }}</p>
                    </form>
                </div>
                
            </div>
            {% else %}
                <p>Gagal menampilkan data! Konsultasikan dengan admin sistem. Terima kasih.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}