{% extends "master/base.html" %}
{% block content %}
<section class="d-flex">
    <div class="col-2">
        {% include "master/sidenav.html" %}
    </div>
    <div class="container">
        <div class="col-10 main-content">
            <div class="content-header d-flex">
                {% if title %}
                    <h4>{{ title }}</h4>
                {% endif %}
            </div>
            {% if proposal %}
            <div class="content-body topmargin-10 apply-font-sm">
                <div class="card-body apply-font-sm">
                    <div>
                        <span><b>Judul proposal: </b>{{proposal.judul}}</span><br>
                        <span><b>Biaya: </b></span>{{proposal.biaya}}<br>
                        <span><b>Pengusul: </b></span>{{proposal.ketua.name}}<br>
                    </div>
                </div>
                <div class="card-body apply-font-sm">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="d-flex flex-row justify-content-between">
                            <p>
                                {{ form.skorsituasi.label }}<br>
                                {{ form.skorsituasi(class_="text-input-fluid") }}<br>
                                {% for error in form.skorsituasi.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.skormitra.label }}<br>
                                {{ form.skormitra(class_="text-input-fluid") }}<br>
                                {% for error in form.skormitra.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.skorsolusi.label }}<br>
                                {{ form.skorsolusi(class_="text-input-fluid") }}<br>
                                {% for error in form.skorsolusi.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.skorluaran.label }}<br>
                                {{ form.skorluaran(class_="text-input-fluid") }}<br>
                                {% for error in form.skorluaran.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.skorkelayakan.label }}<br>
                                {{ form.skorkelayakan(class_="text-input-fluid") }}<br>
                                {% for error in form.skorkelayakan.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.skorbiaya.label }}<br>
                                {{ form.skorbiaya(class_="text-input-fluid") }}<br>
                                {% for error in form.skorbiaya.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>
                        <p>
                            {{ form.catatan.label }}<br>
                            {{ form.catatan(class_="text-input-fluid") }}<br>
                            {% for error in form.catatan.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit(class_="btn btn-secondary btn-sm") }}</p>
                    </form>
                    <div>
                        <p><b>Catatan:</b></p>
                        <ul>
                            <li>Skor : 1, 2, 3, 5, 6, 7 (1 = buruk, 2 = sangat kurang, 3 = kurang, 5 = cukup, 6 = baik, 7 = sangat baik)</li>
                            <li>Nilai = Bobot x Skor</li>
                            <li>Nilai total minimal yang layak didanai adalah 400</li>
                        </ul>
                    </div>
                </div>
                
            </div>
            {% else %}
                <p>Gagal menampilkan data! Konsultasikan dengan admin sistem. Terima kasih.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}