<section class="deskripsi-data">
    {% if pkm %}
        <div>Data terkini proposal PkM dalam database UPPM Online.</div>
    {% endif %}
</section>
<section class="isi-data">
    {% if pkm %}
    <table id="tablelit" class="table table-hover" data-toggle="tablelit" data-filter-control="true" data-show-search-clear-button="true">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" data-filter-control="input">Judul proposal</th>
            <th scope="col">Biaya</th>
            <th scope="col" data-filter-control="select">Pengusul</th>
            <th scope="col" data-filter-control="select">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for item in pkm %}
          <tr>
            <th scope="row">{{ item.idproposalpkm }}</th>
            <td>{{ item.judul }}</td>
            <td>{{ item.biaya }}</td>
            <td>{{ item.ketua.name }}</td>
            <td>{{ item.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Belum ada usulan/proposal penelitian/PkM di database.</p>
    {% endif %}
</section>
