<section class="deskripsi-data">
    {% if penelitian %}
      <div>Data terkini proposal Penelitian Pengembangan dalam database UPPM Online.</div>
    {% endif %}
  </section>
  <section class="isi-data">
      {% if penelitian %}
      <table id="tablelit" class="table table-hover" data-toggle="tablelit" data-filter-control="true" data-show-search-clear-button="true">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col" data-filter-control="input">Judul proposal</th>
              <th scope="col">Tema Utama</th>
              <th scope="col" data-filter-control="select">Pengusul</th>
              <th scope="col" data-filter-control="select">Nilai total</th>
              <th scope="col" data-filter-control="select">Status</th>
              <th scope="col" data-filter-control="select">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in penelitian %}
            <tr>
              <th scope="row">{{ item.idproposallit }}</th>
              <td>{{ item.judul }}</td>
              <td>{{ item.tema }}</td>
              <td>{{ item.ketua.name }}</td>
              <td>
                {% for n in nilai %}
                {% if n.fk_proposal_id == item.idproposallit %}
                {{ n.nilaitotal }}
                {% endif %}
                {% endfor %}
              </td>
              <td>{{ item.status }}</td>
              <td class="d-flex flex-column qrcode-container">
                
                {% if item.status == None or item.status == 'Belum dinilai' %}
                <a class="btn btn-secondary btn-sm btn-margin-sm" href="{{ url_for('nilaiproplitbang', id=item.idproposallit) }}">Pilih</a>
                {% endif %}
                
                {% for n in nilai %}
                {% if n.fk_proposal_id == item.idproposallit %}
                {% if n.nilaitotal != None or n.nilaitotal != '' %}
                <a class="btn btn-secondary btn-sm btn-margin-sm" href="{{ url_for('editnilaibang', id=item.idproposallit) }}">Update</a>
                {% else %}
                {% endif %}
                {% endif %}
                {% endfor %}
                <a class="btn btn-success btn-sm btn-margin-sm" href="{{ url_for('setstatusproplit', id=item.idproposallit) }}">Set Status</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>Belum ada usulan/proposal penelitian/PkM di database.</p>
      {% endif %}
      <div class="pagination-navigation d-flex">
        {% if prev_url %}
        <a href="{{ prev_url }}">Prev-</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">-Next</a>
        {% endif %}
      </div>
  </section>
  