<section class="deskripsi-data">
  {% if penelitian %}
    <div>Judul proposal Penelitian dan Pengabdian Kepada Masyarakat yang masuk ke UPPM dan status terkini:</div>
  {% endif %}
</section>
<section class="isi-data">
    {% if penelitian %}
    <table id="tablelit" class="table table-hover table-striped" data-toggle="tablelit" data-filter-control="true" data-show-search-clear-button="true">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" data-filter-control="input">Judul proposal</th>
            <th scope="col">Tema Utama</th>
            <th scope="col" data-filter-control="select">Pengusul</th>
            <th scope="col" data-filter-control="select">Nilai</th>
            <th scope="col" data-filter-control="select">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for item in penelitian %}
          <tr>
            <th scope="row">{{ item.idproposallit }}</th>
            <td>{{ item.judul }}</td>
            <td>{{ item.tema }}</td>
            <td>{{ item.ketua.name }}</td>
            <td>
              {% for n in nilai %}
              {% if n.fk_proposal_id == item.idproposallit %}
              {{ n.nilaitotal }}
              {% endif %}
              {% endfor %}
            </td>
            <td>{{ item.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Belum ada usulan/proposal penelitian di database.</p>
    {% endif %}
</section>
