/* NAVBAR */
.navbar {
    width: 100%;
    height: 41px!important;
    background-color: #1a5276!important;
    padding: 0px!important;
    position: fixed!important;
    flex: 1;
    z-index: 1;
}

.dark-navbar {
    height: 41px!important;
    width: '100%';
    background-color: #1a5276!important;
}

.right-div {
    margin-right: 30px;
    height: 25px;
}

.left-div {
    margin-left: 30px;
    height: 25px;
}

.nav-item {
    margin-left: 20px;
}

/* SIDEBAR */

.sidenav {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 41px;
    background-color: #ecf0f1;
    border-right: #b3b6b7;
    left: 0;
    overflow-x: hidden;
}

.sidenav-header {
    width: auto;
    height: 60px;
    background-color: #34495e;
    flex-direction: row;
}

.sidenav-body {
    width: auto;
    flex-direction: column;
}

.sidenav-menu-group {
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;

}

.nav-item-group {
    width: auto;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 600;
    border-bottom: solid;
    border-bottom-color: #b3b6b7;
    border-bottom-width: 1px;
}

.nav-item-side {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    align-items: center;
}

.sidenav-footer {
    width: auto;
    height: 41px;
    justify-content: center;
    align-items: center;
}

/* MAIN CONTENT */

.main-content {
    margin-top: 41px;
    margin-bottom: 50px;
}

/* TOPMARGINS */

.topmargin-100 {
    margin-top: 100px;
}

.topmargin-50 {
    margin-top: 50px;
}

.topmargin-20 {
    margin-top: 20px;
}

.topmargin-10 {
    margin-top: 10px;
}

/* CONTENT HEADER */

.content-header {
    height: 60px;
    align-items: center;
    border-bottom: solid;
    border-bottom-color: #b3b6b7;
    border-bottom-width: 1px;
}

.content-body {
    width: auto;
}

/* FORMS */
.login-form-narrow {
    width: auto;
    margin-right: 30px;
}

.register-form-wide {
    width: 600px;
}

.text-input {
    width: auto;
}

.text-input-fluid {
    width: 100%;
    flex: 1;
}

input[id="searchFilter"]::placeholder { 
    font-size: small;
}

input[id="searchFilter2"]::placeholder { 
    font-size: small;
}


/* FONTS */
.allfonts {
    font-family: 'Noto Sans SC', sans-serif;
}

.light-text {
    color: white;
}

.dark-text {
    color: black;
}

.custom-font-navbar {
    font-size: small;
}

.apply-font-sm {
    font-size: 10pt;
}

.apply-font-tiny {
    font-size: 8pt;
}

.apply-font-micro {
    font-size: 5pt;
}

/* BUTTONS */
.btn-margin-sm {
    margin: 5px;
}

/* ICONS */
.medium-icon {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* TEXTS */
a {
    color: grey;
}

.text-simple {
    text-decoration: none!important;
    list-style: none!important;
}

.text-simple:hover {
    color: orange;
}

.clean-li {
    text-decoration: none;
    list-style: none;
}

.wrap-text {
    word-wrap: break-word;
}

/* IMAGES */
.sidenav-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 10px;
}

.sidenav-profile-container {
    width: auto;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-start;
    align-items: center;
}

.qrcode-container {
    justify-content: center;
    align-items: center;
}

.qrcode-img {
    width: 80px;
    height: 80px;
}

/* SPECIFIC */

.bg-jumbotron {
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url('../img/construction-yellow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    justify-content: center;
}

.bg-jumbotron-box {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header-tandaterima {
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

.tanda-terima-body {
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.tanda-terima-details {
    width: 400px;
}

.single-prop-card {
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.prop-card-details {
    width: auto;
    padding-bottom: 10px;
}

.pengumuman {
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.deskripsi-data {
    justify-content: space-between;
}

.zindex-lower {
    z-index: 0;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
}

/* NAVIGATION */

.pagination-navigation {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* FOOTER */
.footer-section {
    width: 100%;
    height: 10px;
    bottom: 0px;
    position: fixed;
    /* justify-content: center; */
    align-items: center;
    background-color: inherit;
    border-top-color: rgb(83, 82, 82);
    border-top-width: 1px;
}